.container {
  width: 1200px;
}

.container .slideitem {
  width: 100%;
  background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
  height: 450px;
  padding: 68px 43px;
  box-sizing: border-box;
  display: flex;
  font-family: ceraPro;
}

.container .slideitem .image_content {
  position: relative;
  top: 36px;
  display: flex;
  justify-content: space-between;
}

.container .slideitem .image_content > img:first-child {
  width: 518px;
  position: absolute;
  bottom: -37px;
  left: 50px;
}

.container .slideitem .image_content > img:last-child {
  width: 135px;
  position: absolute;
  bottom: 0;
  left: 95px;
}

.container .slideitem h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
  width: 530px;
  color: #3D3D3D;
  padding: 0;
  margin: 0;
}

.container .slideitem h1 .tithead {
  color: #46A358;
}

.container .slideitem .beforeTite {
  color: #3D3D3D;
  font-family: ceraPro;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.container .slideitem .subtext {
  font-family: ceraPro;
  width: 557px;
  color: #727272;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
}

.container .slideitem .btn_org {
  width: 140px;
  height: 40px;
  background: #46A358;
  border-radius: 6px;
  color: white;
  border: none;
  outline: none;
  margin-top: 44px;
}

.container .slideitem .btn_org:hover {
  opacity: 0.7;
  cursor: pointer;
}
