.footer_container {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.footer_container .footbottom {
  border-top: 1px solid rgba(18, 60, 27, 0.2);
  text-align: center;
  font-family: ceraPro;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #3D3D3D;
  margin: 0;
  padding: 7px 0;
}

.footer_container .main_footer {
  background: #fbfbfb;
  display: flex;
  justify-content: space-between;
  padding: 33px 23px;
}

.footer_container .main_footer .leftFooter {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.footer_container .main_footer .rightfooter {
  width: 37%;
}

.footer_container .main_footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer_container .main_footer ul li {
  font-family: ceraPro;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #3D3D3D;
}

.footer_container .main_footer ul li:hover {
  color: #46a358;
  cursor: pointer;
}

.footer_container .main_footer ul li ul {
  display: flex;
  justify-content: flex-start;
  grid-gap: 10px;
}

.footer_container .main_footer ul li ul li {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(70, 163, 88, 0.2);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.footer_container .main_footer ul li ul li img {
  transition: transform .7s ease-in-out;
}

.footer_container .main_footer ul li ul li:hover {
  border: 2px solid rgba(70, 163, 88, 0.5);
  cursor: pointer;
}

.footer_container .main_footer ul li ul li:hover img {
  transform: rotateY(360deg);
}
